<h1>here is an order</h1>

<p>id: <%= @order['id'] %></p>
<p>user_id: <%= @order['user_id'] %></p>

<p>subtotal: <%= @order['subtotal'] %></p>
<p>tax: <%= @order['tax'] %></p>
<p>total: <%= @order['total'] %></p>
<p>user email: <%= @order['user']['email'] %></p>

<h3>Here is info about the products in the order</h3>
<!-- print out info about a product -->
<% @order['carted_products'].each do |carted_product| %>
  <p>quantity: <%= carted_product['quantity'] %></p>
  <p>product price: <%= carted_product['product']['price'] %></p>
  <p>product name: <%= carted_product['product']['name'] %></p>
  <hr>
<% end %>

